@page "/"

<h1>Hello, carousel!</h1>

<Carousel Components="types"/>

@code{
    Type[] types =
    {
        typeof(Counter),
        typeof(SurveyPrompt),
        typeof(FetchData)
    };
}